@charset "UTF-8";
@import url(screen.css);
@import url(headAndBody.css);


.button {
	margin: 30px auto;
    background-color: #778388 ;
	border: 1px solid green;
	border-radius: 5px;
	box-shadow: 0 0 3px #777777;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	width: 250px;
	display: block;
}

.button:hover {
	box-shadow: 0 0 8px #777777;
	color: white;
	background-color: #CEF0D4;
}