@charset "UTF-8";
@import url(screen.css);
@import url(headAndBody.css);

table {
	margin: 10px auto;
	width: auto;
	overflow: hidden;
	background: #FFF;
	color: #024457;
	border-radius: 10px;
	border: 1px solid #167F92;
	
}
tr {
	border: 1px solid #D9E4E6;
}

th {
	border: 1px solid #FFF;
	background-color: #778388;
	color: #FFF;
	padding: 1em;
}

td, th {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: center;
	border-radius: 5px;
}

tr:hover {
	background-color: #CEF0D4;
}

#thid {
	background: #408080;
}

#thid:hover {
	box-shadow: 0 0 8px #777777;
	color: CEF0D4;
}

#newRandom {
	position:relative;
	color: #6b5fa0;
    left:230px;    
	top: -25px;
}