<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title th:text="#{voca.title}">Cím</title>
	<link rel="stylesheet" type="text/css" href="/css/index2.css" />
</head>
<body>


	<div class="head">
		<h1 th:text="#{voca.heading}">wordhunter</h1>
	</div>

	
	
	<a class="button" href="random.html" th:text="#{index.random}">Napi véletlenszerű szó kérése: </a>
	<a class="button"  href="input.html" th:text="#{index.input}">Új szópár megadása: </a>
	<a class="button"  href="voca.html"  th:text="#{index.listWords}">minden szópár megjelenítése </a>
	
</body>
</html>