<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title th:text="#{voca.title}">Cím</title>
	<link rel="stylesheet" type="text/css" href="/css/list.css" />
</head>
<body>
	
	<div class="head">
		<h1 th:text="#{voca.heading}">wordhunter</h1>
	</div>

 <table>
	  <thead>
        <tr>
        <!-- using input name & mean -->
          <th th:text="#{input.name}">Angol szó</th>
          <th th:text="#{input.mean}">Magyar jelentés</th>
        </tr>
      </thead>
      
      <tbody>
    
        <tr th:each="vocable: ${vocable}">                    
          <td th:text="${vocable.word}">szo</td>
          <td th:text="${vocable.mean}">mean</td>
        </tr>
    
      </tbody>
</table>

<a href="/" th:text="#{input.back}">vissza a főoldalra</a> 

</body>
</html>