@CHARSET "ISO-8859-1";

.message {
    display: none;
}
body {
	font:13px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 20px;
}
/* Todo */
caption {
	background-color: #45aeba;
}

table {
margin: 1em 0;
  width: 100%;
  overflow: hidden;
  background: #FFF;
  color: #024457;
  border-radius: 10px;
  border: 1px solid #167F92;

}

tr {
  border: 1px solid #D9E4E6;
}


th {
  border: 1px solid #FFF;
  background-color: #167F92;
  color: #FFF;
  padding: 1em;

}
td, th {
	 border: 1px solid #ddd;
    padding: 8px;
     text-align: center;
}
tr:hover {background-color: #ddd;}